@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/barlow-semi-condensed-v15-latin-600.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* barlow-semi-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/barlow-semi-condensed-v15-latin-700.woff2')
    format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --s-gradient: #ec9e0e to #eca922;
  --p-gradient: #4865f4 to #5671f5;
  --r-Gradient: #dc2e4e to #dd405d;
  --l-gradient: #834fe3 to #8c5de5;
  --cyan: #40b9ce to #52bed1;
  --dark-text: #3b4363;
  --score-text: #2a46c0;
  --header: #606e85;
  --radial-gradient: #1f3756 to #141539;
  --attribution: #3e52a3;
}
html {
  font-family: 'Barlow Semi Condensed';
}
.animation {
  animation: trans 0.2s infinite linear;
}

@keyframes trans {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-400px);
  }
}
